@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #fff200;
  --secondary-color: #542e90;
}

.container {
  padding: 0 376px;
  width: 100%;
  overflow: hidden;
}

.page {
  text-align: center;
  margin-top: 3em;
  font-size: 3rem;
}

@media screen and (max-width: 1400px) {
  .container {
    padding: 0 4em;
  }
}
